*{
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: "Quicksand variant0", Tofu;
    
}

.cabeza {
    display: flex;
    padding: 2px 2px;
    background: rgb(61, 68, 74);
}
.cabeza img{
    width: 60px;
    margin-left: 3%;

}
/* inicio encabezado */
.logo {
  /*   margin: 10px; */
    text-align: left;
    /* justify-content: space-evenly; */ 
    

}

.navbar {
    margin-right: 10px;
    width: 100%;
    justify-content: space-evenly;
}

.navbar a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 10px;
}

.navbar a:hover {
    background: #4dcbcf;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background: url(imagenes/Captura\ de\ pantalla\ 2023-04-18\ 140157.png) no-repeat center;
    background-size: cover;  
}




/* inicio en general */

.title {
    margin-bottom: 40px;
    font-size: 50px;
    font-weight: 200px;
    text-transform: uppercase;
    color: #131313;
}

p {
    margin-bottom: 1px;
    font-size: 18px;
    color: #101010;
    padding: 0 150px;
   
}

/* fin en general */

/* inicio de servicios */

.btn:hover {
    background: none;
}
.contenedor1 {
    padding: 130px 30px;
    background-image: url(imagenes/goticas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}

.contenedor2 {
    /* background-color: rgb(31, 255, 225); */
    padding: 80px 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor3 {
    padding: 100px 50px;
    background-image: url(imagenes/abajo.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}



.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: centers;
}
.galeria{
    background-color: rgb(159, 153, 212, o.5);
    padding: 20px;
    margin: 30px;
    text-align: center;

}

.galeria img{
   width: 200px;
   border-radius: 20px;
   margin-right: 60px;
    margin-top: 2px;
}

.dos a{
    text-decoration: none;
    display: block;
    border: 8px solid #4dcbcf;
    width: 250px;
    height: 50px ;
    text-align: center;
    padding-top: 5px;
    background-color: #4dcbcf;
    color: #0d0d0d;
    margin: auto;
    font-family: "Quicksand variant0", Tofu;
    border-radius: 10px;
}  

/* fin de servicios */

/* inicio de precio */

.tres a{
    text-decoration: none;
    display: block;
    border: 8px solid #29c7cc;
    width: 150px;
    height: 50px ;
    text-align: center;
    padding-top: 5px;
    background-color: #29c7cc;
    color: #fff;
    margin: auto;
    font-family: "Quicksand variant0", Tofu;
    border-radius: 10px;
}

/* fin precio */

/* inicio de nosotros */

.box-container .box h3 {
    font-size: 20px;
    color: #104bc9;
}

.box-container .box p {
    padding: 0 10px;
    font-size: 16px;
}


.box-container2{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-wrap: wrap;
}

.box-container2 .box {
    width: 250px;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: 0 5px 5px rgba(18, 28, 175, 0.989);
    background: lightblue;
    margin: 10px 20px;
    border-radius: 10px
}

.box-container2 .box img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -50px;
    border: 6px solid #0e4af0;
}

.box-container2 .box h3 {
    font-size: 20px;
    color: #0e0d0d;
    padding-top: 10px;
}

.box-container2 .box p {

    font-size: 18px;
    color: #141414;
    padding: 0;
}

/* footer-.section{
    display: flex;

} */

/* fin de nosotros */

@media screen and (max-width: 700px) {
    .cabeza{
        flex-direction: column;
/*         flex-wrap: wrap;
        display: flex;  */
    }
}

@media screen and (max-width: 700px) {
    p {
        padding: 0 50px;
    }
    .title{
        margin-bottom: 0px;
        font-size: 50px;
    }

}
@media screen and (max-width: 700px) {
    .contenedor1 {
        flex-direction: column;
    }
    .contenedor2 {
        flex-direction: column;
    }
    .contenedor3 {
        flex-direction: column;
    }
    
}

@media screen and (max-width: 700px) {
}



/*     .contenedor2 {

        width: 100%;
 }
    .contenedor3 {
      
        width: 100%;
      
       /*  height: 100vh;
        padding: 50px 0; */


/*     .footer-section {
        display: flex;
        flex-direction: column;
    } */
